.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:35px;
    text-align: center;
    height:85dvh;
    min-height: 500px;
    margin: 10%;

    .hero {
        max-width: 180px;
        border-style: solid;
        border-width: 6px;
        border-radius: 100%;
        border-color: #3f6270;
    }

    span {
        /* this is the tab of icons */
        display: flex;
        gap: 30px;
        justify-content: left;
        
        a {
            margin: 0;

            img {
                /* these are the link icons */
                width: 40px;
            }
        }

        a:hover {
            transform: scale(1.15);
            transition: .4s;
        }

        a:not(:hover){
            transition: .4s;
        }
    }

    a {
        width: fit-content;
        align-self: center;
    }

    button {
        background-color: var(--btn-color);
        color: var(--btn-text-color);
        border: none;
        border-radius: 16px;
        width: 120px;
        height: 48px;
        font-family: 'Outfit', sans-serif;
        font-size: 16px;
        font-weight: bold;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }

    button:hover {
        transform: scale(1.08);
    }

    button:active {
        transform: translateY(2px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode { /* this is the dark mode switch */
    position: absolute;
    right: 0;
    width: 24px;
    margin: auto;
}

.colorMode:hover {
    cursor: pointer;
}

.description { /* tiny about me */
    max-width: 64ch;
    margin-bottom: 24px;
}

.info { /* the typography after my photo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .intro {
        align-items: center;
    }

    .alias {
        margin-top: -12px;
    }
}