.sidenav {
    width: 240px;
    height: 80%;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
    position: fixed;
    z-index: 1;
    left: 0px;
    background: var(--sidebar-color);
    overflow-x: hidden;
    padding: 24px 0 0 16px;
    margin-top: 60px;
  
  a {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    padding: 12px 8px 12px 22px;
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color);
    display: block;
  }
  
  a:hover {
    transform: translateX(15px);
    color: var(--sbh-text-color);
    font-weight: 600;
    transition: .5s;
  }
}

main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}