.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:35px;
    text-align: center;
    height:75dvh;
    min-height: 500px;
    margin: 10%;

    .hero {
        max-width: 180px;
    }
}

.colorModeContainer {
    position: relative;
}

.colorMode { /* this is the dark mode switch */
    position: absolute;
    right: 0;
    width: 24px;
    margin: auto;
}

.colorMode:hover {
    cursor: pointer;
}

.description { /* tiny about me */
    max-width: 64ch;
    margin-bottom: 24px;
}

.info { /* the typography after my photo */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .alias {
        margin-top: -20px;
    }
}
@media (width >= 1400px){
    .description {
        max-width: 84.2ch;
    }
} 