:root { /* base theme WHICH IS LIGHT */
    --background-color: #ffffff;
    --btn-color: #2c6576;
    --btn-text-color: #ffffff;
    --project-card-bg: #ffffff00;
    --text-color: #252525;
    --name-text-color: #397e93;
    --form-text-color: #3e4649;

    --sidebar-color: #97c4d2;
    --sbh-text-color:#397e93;

    transition: .3s;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

/* the DARK THEME */
[data-color-scheme="dark"] {
    color-scheme: dark;
  }
  
[data-theme='dark'] {
    --background-color: #192327;
    --btn-color: #67adc3;
    --btn-text-color: #ffffff;
    --project-card-bg: #ffffff00;
    --text-color: #ffffff;
    --name-text-color: #a9cddb;
    --form-text-color: #9bc0cd;
    --color-scheme: dark;

    --sidebar-color: #426f7d;
    --sbh-text-color:#a9cddb;

    transition: .3s;
}

body {
    background-color: var(--background-color);
    color-scheme: var(--color-scheme);
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

#root {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

h1, h2, h3, p {
    text-align: left;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: .2s;

    center {
        text-align: center;
    }
}

h1 {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    color: var(--name-text-color);
    font-weight: 600;
    font-size: 42px;
}
h2, h3, p {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2, h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.sectionTitle {
    margin-bottom: 30px;
}

.hover {
    cursor: pointer;
}

@media (width >= 800px){
    #root {
        gap: 100px;
    }
    h1 {
        font-size: 48px;
    }
    h2, h3 {
        font-size: 24px;
    }
    p {
        font-size: 12px;
    }
    .sectionTitle {
        margin-bottom: 60px;
    }
}

@media (width >= 1400px){
    #root {
        gap: 200px;
    }
    p {
        font-weight: 300;
    }
    .sectionTitle {
        margin-bottom: 75px;
    }
}