.sidenav {
    width: 210px;
    height: 80%;
    border-top-right-radius: 46px;
    border-bottom-right-radius: 46px;
    position: fixed;
    z-index: 1;
    left: 0;
    background: var(--sidebar-color);
    overflow-x: hidden;
    padding: 36px 0 0 12px;
    margin-top: 60px;
    transition: .3s;
    opacity: 80%;
  
  a {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    padding: 12px 8px 12px 22px;
    text-decoration: none;
    font-size: 24px;
    color: var(--text-color);
    opacity: 100%;
    display: block;
  }
  
  a:active, a:hover {
    transform: translateX(15px) scale(1.2);
    color: var(--sbh-text-color);
    font-weight: 700;
    transition: .3s;
    opacity: 100%;
  }

  a:not(:hover){
    transition: .3s;
  }
}

b {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: var(--text-color);
}

main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

button {
  background: none;
  border: none;
}